<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body style="font-family:cookie;">   
    {{>navbar}}
    <br>
    <br>
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/about-us.jpg" alt="hehe" class="img-fluid"  width="400px" height="600px">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p> Welcome to weather app. </p>
                    <h1> Hii , I'm  a  <span class="text_clr"> Full Stack Web Developer</span> Java Developer and a freelancer. </h1>
                    <a href="#"> <button> About Me</button> </a>
                </div>
        </div>
    </div>

    <br>
    <br>


    {{>footer}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>