<div class="container-fluid main_header" id="homepgtxt">
    <div class="row">
        <div class="col-md-6 col-12 main_header_left">
            <p> Welcome to weather app. </p>
            <h1> Get the latest <span class="text_clr"> Weather</span> of your city. </h1>
            <a href="/weather"> <button> Check now</button> </a>
        </div>
    </div>
</div>